---
layout: default
---
<!--
<form action="/search" method="get">
    <label for="search-box">Search</label>
    <input type="text" id="search-box" name="query">
    <input type="submit" value="search">
</form>
-->
<ul>
  {% for post in paginator.posts %}
    <li>
      <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
	  <span class="date">
		  {{ post.date | date: '%Y-%m-%d' }}
	  </span>
	  <p>
		  {{ post.excerpt }}
	  </p>
      <a href="{{ post.url }}" class="read-more">Read More</a>
    </li>
  {% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">
      &laquo; Prev
    </a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

{% for page in (1..paginator.total_pages) %}
	{% assign v = page | modulo: 2 %}
	{% if page == paginator.page %}
		<em>{{ page }}</em>
	{% elsif v == 0 %}
		<a href="{{ site.url | append: '/' | append: site.paginate_path | replace: ':num', page }}">
		{{ page }}
		</a>
	{% else %}
	{% endif %}
{% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">
      Next &raquo;
    </a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>

{% endif %}
