---
layout: post
title: What we’ve learned from iPhone X twin tests- Face ID is 99.997% secure
---
![img](http://media.idownloadblog.com/wp-content/uploads/2017/11/Face-ID-evil-twin.jpg)
* Apple did say during the iPhone X keynote that Face ID wasn’t twin-safe, but that didn’t stop media outlets like Mashable and Business Insider from conducting their own “twin tests” to demonstrate that Apple’s 3D facial recognition system is not absolutely secure.
* Identical twins Greg and Brian Fieber have failed to fool Face ID in Business Insider’s test. “I was pretty shocked that the iPhone X could really pick apart the details between me and my brother, considering some of our own family members can’t tell us apart,” said one of the twins.
* On the other hand, Mashable has managed to find two sets of identical twins who are indeed capable of thwarting Face ID. Here’s Mashable’s video demonstration.
* In the following video, The Wall Street Journal’s Joana Stern attempts to defeat Face ID using siblings, identical triplets and a well crafted theatrical mask.
* Other people have posted their own “twin test” videos to YouTube as well.
* Now, while identical twins bypassing Face ID security is nothing new—Apple itself admits that identical twins may want to use the passcode instead—we need to put this in some context.
* The numbers we need come from the University of Texas.
![img](http://media.idownloadblog.com/wp-content/uploads/2017/09/Apple-Event-September-2017-Face-ID-006.jpg)
* According to their study, about 32 out of a thousand people are twins, or about three percent of the population. However, the rate for identical twins is only 3.5 per 1,000 births.
* As Forbes puts it, that means that the novelty of breaking into an iPhone X by tricking Face ID only applies to about one third of one percent of the population, or about 0.35 percent at most. And the fact that Face ID twin tests produce different results suggests that only a certain subset of identical twins can bypass Face ID, which could significantly lower that number.
* “If it takes a truly identical twin to maybe be able to fool Face ID, then for the 99.997 percent of the population of the world who are not part of a set of identical twins,” notes Forbes.
![img](http://media.idownloadblog.com/wp-content/uploads/2017/09/Apple-Event-September-2017-Face-ID-008.jpg)
* While Face ID is pretty damn secure in terms of identical twins, a proof-of-concept video posted today showed Face ID can be thrown off using a specially crafted face mask.
* Bottom line: security features like Touch ID and Face ID are more of a convenience than unbreakable security, but they’re more than good enough for average consumers who just want their data protected from the prying eyes.
* Apple says there’s a one in a million chance that a random person in the population could look at your iPhone X and unlock it using Face ID versus 1 in 50,000 for Touch ID. The company notes in the Face ID Security Guide that the probability of a false match is different for twins and siblings that look like you.
* “If you’re concerned about this, we recommend using a passcode to authenticate,” it advises.
* Do you have a twin? And if so, what’s your Face ID situation?
* Post your comment below.

