---
layout: post
title: Apple's person-to-person payments service may require ID verification
---
![img](http://media.idownloadblog.com/wp-content/uploads/2017/06/WWDC-2017-apple-pay-person-to-person.jpg)
* iOS 11 brings out support for person-to-person payments through iMessage. For security purposes, it looks like this handy new feature will require you to verify your identity by snapping a picture of your driver’s license or other photo ID with your iOS device’s camera.
* According to the latest beta code discovery by Brazilian outlet iHelp.br on Friday (Google Translate), the service may require the user to scan both the front and back of their photo ID.
* Code strings include messages like “Verify your identity to continue using Apple Pay Cash” and “Position your driver’s license or photo ID on the [camera’s] frame.” In other words, the system could bar people from using person-to-person transfers unless their photo ID can be verified.
* “Your information could not be verified,” reads a warning message found in iOS 11 beta 7. “You can still use your Apple Pay Cash balance in stores and apps. Sending and receiving payments in Messages will not be available until verification can be completed.”
* This should prevent children from abusing their parents’ bank accounts.
* The money you receive through iMessage winds up as a PayPal-style holding fund in the form of a virtual Apple Pay Cash card in the stock Wallet app. You can use it to buy stuff on iTunes and App Stores, make payments with Apple Pay or withdraw the money to your bank account.
![img](http://media.idownloadblog.com/wp-content/uploads/2017/06/WWDC-2017-apple-pay-cash-card.jpg)
* The virtual card comes complete with a four-digit PIN.
* The PIN should let you use the virtual card with contactless payment terminals that require additional authentication beyond NFC and Touch ID. Apple Pay Cash is available through iCloud across Apple Watch, iPhone, iPad and Mac devices that have been authorized for Apple Pay.
* According to Apple’s Craig Federighi during the WWDC 2017 keynote talk:
* When you send the money, you authenticate securely with Touch ID. And if you receive money through iMessage, it goes to your Apple Pay cash card.
* From there, you can send it on to friends and family—if you are charitable—and you can make Apple Pay purchases at retail or on the web.
* And, of course, you can pull it out and transfer it to your bank account. Plus, it’s available across all these iOS devices and Apple Watch, too.
* Unless a debit card is used for person-to-person money transfers, the system incurs standard processing fee of three percent for payments made with a credit card.
* Person-to-person payments and Apple Pay Cash are scheduled to launch after iOS 11 releases for public consumption and will be available only in the United States on iPhone SE, iPhone 6 or later, iPad Pro, fifth-generation iPad or later, iPad Air 2, iPad mini 3 or later and Apple Watch.

